:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c95b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.6);
  --color-light: rgba(255, 255, 255, 0.7);
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;

  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

.about_achievements {
  margin-top: 3rem;
}

.about_achievements-container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 5rem;
}

.about_achievement-right > p {
  margin: 1.6rem 0 2.5rem;
}

.achievements_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.achievement_card {
  background-color: var(--color-bg1);
  padding: 1.6rem;
  border-radius: 1rem;
  text-align: center;
  transition: var(--transition);
}

.achievement_card:hover {
  background-color: var(--color-bg2);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.achievement_icon {
  background-color: var(--color-danger);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.achievement_card:nth-child(2) .achievement_icon {
  background-color: var(--color-success);
}

.achievement_card:nth-child(3) .achievement_icon {
  background-color: var(--color-primary);
}

/* ========== TEAM ========== */
.team {
  background-color: var(--color-bg1);
}

.team_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.team_member {
  background-color: var(--color-bg2);
  padding: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  position: relative;
  overflow: hidden;
}

.team_member:hover {
  background: transparent;
  border-color: var(--color-primary);
}

.team_member-image img {
  filter: saturate(0);
}

.team_member-image:hover img {
  filter: saturate(1);
}

.team_member-info * {
  text-align: center;
  margin-top: 1.4rem;
}

.team_member-info p {
  color: var(--color-light);
}

.team_member-socials {
  position: absolute;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  border-radius: 1rem 0 0 1rem;
  box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}

.team_member:hover .team_member-socials {
  right: 0;
}

.team_member-socials a {
  padding: 1rem;
}

/* ========== MEDIA QUERY (TABLET) ========== */
@media (max-width: 1024px) {
  .about_achievements {
    margin-top: 2rem;
  }

  .about_achievements-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .about_achievement-right > h1,
  p {
    text-align: center;
  }

  .about_achievements-left {
    width: 80%;
    margin: 0 auto;
  }

  .team_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .team_member {
    padding: 1rem;
  }
}

/* ========== MEDIA QUERY (PHONE) ========== */
@media (max-width: 600px) {
  .achievements_cards {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }

  .team_container {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }

  .team_member {
    padding: 0;
  }

  .team_member p {
    margin-bottom: 1.5rem;
  }
}
